/** FORMAT AS FOLLOWS ***/
/** [character="CHARANAME"][ATTRIBUTE] {
  --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/CHARA/ANY-SUBFOLDER/EXTENTION.PNG");
} ***/

/** Rinne Winter Sprites ***/

[character="Rinne"][wint_cheer] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_cheer.PNG");
}
[character="Rinne"][wint_ehe] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_ehe.PNG");
}
[character="Rinne"][wint_evil] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_evil.PNG");
}
[character="Rinne"][wint_happyleft] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_happyleft.PNG");
}
[character="Rinne"][wint_khh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_khh.PNG");
}
[character="Rinne"][wint_left] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_left.PNG");
}
[character="Rinne"][wint_pensive] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_pensive.PNG");
}
[character="Rinne"][wint_sigh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_sigh.PNG");
}
[character="Rinne"][wint_think] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_think.PNG");
}
[character="Rinne"][wint_superior] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_superior.PNG");
}
[character="Rinne"][wint_disapprove] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_disapprove.PNG");
}
[character="Rinne"][wint_cocky] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_cocky.PNG");
}
[character="Rinne"][wint_hah] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_hah.PNG");
}
[character="Rinne"][wint_smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_smile.PNG");
}
[character="Rinne"][wint_smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_smug.PNG");
}
[character="Rinne"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_stare.PNG");
}

/** HiMERU Winter Sprites **/

[character="HiMERU"][wint_plain] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_plain.PNG");
}
[character="HiMERU"][wint_disappoint] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_disappoint.PNG");
}
[character="HiMERU"][wint_neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_neutral.PNG");
}
[character="HiMERU"][wint_smile_r] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_smile_r.PNG");
}
[character="HiMERU"][wint_pensive] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_pensive.PNG");
}
[character="HiMERU"][wint_ghk] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_ghk.PNG");
}
[character="HiMERU"][wint_neut_left] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_neut_left.PNG");
}
[character="HiMERU"][wint_smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_smile.PNG");
}
[character="HiMERU"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_stare.PNG");
}

/** Niki Winter Sprites ***/
[character="Niki"][wint_bikkuri] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_bikkuri.PNG");
}
[character="Niki"][wint_distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_distress.PNG");
}
[character="Niki"][wint_graugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_graugh.PNG");
}
[character="Niki"][wint_idlr] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_idlr.PNG");
}
[character="Niki"][wint_no] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_no.PNG");
}
[character="Niki"][wint_satisfied] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_satisfied.PNG");
}
[character="Niki"][wint_sigh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_sigh.PNG");
}
[character="Niki"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_stare.PNG");
}
[character="Niki"][wint_surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_surprise.PNG");
}
[character="Niki"][wint_ugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_ugh.PNG");
}
[character="Niki"][wint_uso] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_uso.PNG");
}
[character="Niki"][wint_idlr2] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_idlr2.PNG");
}
[character="Niki"][wint_jor5] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_jor5.PNG");
}
[character="Niki"][wint_cheer] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_cheer.PNG");
}
[character="Niki"][wint_nerv_laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_nerv_laugh.PNG");
}

/** Kohaku Winter Sprites ***/

[character="Kohaku"][wint_disappoint] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_disappoint.PNG");
}
[character="Kohaku"][wint_idlr] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_idlr.PNG");
}
[character="Kohaku"][wint_nerv_laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_nerv_laugh.PNG");
}
[character="Kohaku"][wint_niccori] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_niccori.PNG");
}
[character="Kohaku"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_stare.PNG");
}
[character="Kohaku"][wint_disapprove] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_disapprove.PNG");
}
[character="Kohaku"][wint_think] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_think.PNG");
}
[character="Kohaku"][wint_neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_neutral.PNG");
}

/** Event Renders **/
[character="HiMERU"][hmr_n8_unbl] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/hmr_n8_unbl.PNG");
}

/** Other Renders **/
[character="Esu"]{
    --color: #80FFF4;
    --hue: 175;
    --name: "Esu";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@latest/imgs/esu/esu_default.PNG");
    --charahead: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@latest/esu/imgs/esu_head.png");
}