/** FORMAT AS FOLLOWS ***/
/** [character="CHARANAME"][ATTRIBUTE] {
  --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/CHARA/ANY-SUBFOLDER/EXTENTION.PNG");
} ***/

/** Rinne Practice Sprites ***/

[character="Rinne"][practice_happy] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_happy.PNG");
}
[character="Rinne"][practice_idlr] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_idlr.PNG");
}
[character="Rinne"][practice_mhm] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_mhm.PNG");
}
[character="Rinne"][practice_neut] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_neut.PNG");
}
[character="Rinne"][practice_seriously] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_seriously.PNG");
}
[character="Rinne"][practice_sigh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_sigh.PNG");
}
[character="Rinne"][practice_smile_left] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_smile_left.PNG");
}
[character="Rinne"][practice_smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_smile.PNG");
}
[character="Rinne"][practice_smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_smug.PNG");
}
[character="Rinne"][practice_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_stare.PNG");
}
[character="Rinne"][practice_superior] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_superior.PNG");
}
[character="Rinne"][practice_thinkloud] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_thinkloud.PNG");
}
[character="Rinne"][practice_thinkself] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_thinkself.PNG");
}
[character="Rinne"][practice_upset] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_upset.PNG");
}
[character="Rinne"][practice_yup] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/practice/practice_yup.PNG");
}

/** Rinne Winter Sprites ***/

[character="Rinne"][wint_cheer] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_cheer.PNG");
}
[character="Rinne"][wint_ehe] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_ehe.PNG");
}
[character="Rinne"][wint_evil] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_evil.PNG");
}
[character="Rinne"][wint_happyleft] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_happyleft.PNG");
}
[character="Rinne"][wint_khh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_khh.PNG");
}
[character="Rinne"][wint_left] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_left.PNG");
}
[character="Rinne"][wint_pensive] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_pensive.PNG");
}
[character="Rinne"][wint_sigh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_sigh.PNG");
}
[character="Rinne"][wint_think] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_think.PNG");
}
[character="Rinne"][wint_superior] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_superior.PNG");
}
[character="Rinne"][wint_disapprove] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_disapprove.PNG");
}
[character="Rinne"][wint_cocky] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_cocky.PNG");
}
[character="Rinne"][wint_hah] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_hah.PNG");
}
[character="Rinne"][wint_smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_smile.PNG");
}
[character="Rinne"][wint_smug] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_smug.PNG");
}
[character="Rinne"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/rinne/winter/rin_wint_stare.PNG");
}

/** HiMERU Winter Sprites **/

[character="HiMERU"][wint_plain] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_plain.PNG");
}
[character="HiMERU"][wint_disappoint] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_disappoint.PNG");
}
[character="HiMERU"][wint_neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_neutral.PNG");
}
[character="HiMERU"][wint_smile_r] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_smile_r.PNG");
}
[character="HiMERU"][wint_pensive] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_pensive.PNG");
}
[character="HiMERU"][wint_ghk] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_ghk.PNG");
}
[character="HiMERU"][wint_neut_left] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_neut_left.PNG");
}
[character="HiMERU"][wint_smile] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_smile.PNG");
}
[character="HiMERU"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/winter/himeru_wint_stare.PNG");
}

/** Niki Winter Sprites ***/
[character="Niki"][wint_bikkuri] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_bikkuri.PNG");
}
[character="Niki"][wint_distress] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_distress.PNG");
}
[character="Niki"][wint_graugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_graugh.PNG");
}
[character="Niki"][wint_idlr] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_idlr.PNG");
}
[character="Niki"][wint_no] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_no.PNG");
}
[character="Niki"][wint_satisfied] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_satisfied.PNG");
}
[character="Niki"][wint_sigh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_sigh.PNG");
}
[character="Niki"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_stare.PNG");
}
[character="Niki"][wint_surprise] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_surprise.PNG");
}
[character="Niki"][wint_ugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_ugh.PNG");
}
[character="Niki"][wint_uso] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_uso.PNG");
}
[character="Niki"][wint_idlr2] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_idlr2.PNG");
}
[character="Niki"][wint_jor5] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_jor5.PNG");
}
[character="Niki"][wint_cheer] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_cheer.PNG");
}
[character="Niki"][wint_nerv_laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/niki/winter/niki_wint_nerv_laugh.PNG");
}

/** Kohaku Winter Sprites ***/

[character="Kohaku"][wint_disappoint] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_disappoint.PNG");
}
[character="Kohaku"][wint_idlr] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_idlr.PNG");
}
[character="Kohaku"][wint_nerv_laugh] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_nerv_laugh.PNG");
}
[character="Kohaku"][wint_niccori] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_niccori.PNG");
}
[character="Kohaku"][wint_stare] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_stare.PNG");
}
[character="Kohaku"][wint_disapprove] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_disapprove.PNG");
}
[character="Kohaku"][wint_think] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_think.PNG");
}
[character="Kohaku"][wint_neutral] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/kohaku/winter/haku_wint_neutral.PNG");
}

/** Event Renders **/
[character="HiMERU"][n8_unbl] {
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/himeru/hmr_n8_unbl.PNG");
}

/** Other Renders **/
[character="Esu"]{
    --color: #80FFF4;
    --hue: 175;
    --name: "Esu";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@latest/imgs/esu/esu_default.PNG");
    --charahead: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@latest/imgs/esu/esu_head.png")
}
[character="Snake"]{
    --color: #2F8025;
    --hue: 113;
    --name: "Snake";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@latest/imgs/mahorova/snake1.PNG");
}


/** 18TRIP RENDERS **/
[character="Kaede"] {
    --color: #c8ff46;
    --hue: 77.8378378378deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kaede.webp");
}

[character="Momiji"] {
    --color: #c8ff46;
    --hue: 77.8378378378deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/momiji.webp");
}

[character="Renga"] {
    --color: #dcaa3c;
    --hue: 41.25deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/renga.webp");
    --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/renga.webp");
}

[character="Kafka"] {
    --color: #916eff;
    --hue: 254.4827586207deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kafka.webp");
    --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/kafka.webp");
}

[character="Ten"] {
    --color: #c8d7eb;
    --hue: 214.2857142857deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/ten.webp");
    --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/ten.webp");
}

[character="Yukikaze"] {
    --color: #46beff;
    --hue: 201.0810810811deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/yukikaze.webp");
    --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/yukikaze.webp");
}

[character="Liguang"] {
    --color: #ff3214;
    --hue: 7.6595744681deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/liguang.webp");
    --msg-icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/msg_icons/liguang.webp");
}

[character="Akuta"] {
    --color: #ff8232;
    --hue: 23.4146341463deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/akuta.webp");
}

[character="Kiroku"] {
    --color: #8c14dc;
    --hue: 276deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kiroku.webp");
}

[character="Nanaki"] {
    --color: #1ebeb4;
    --hue: 176.25deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/nanaki.webp");
}

[character="Muneuji"] {
    --color: #ffa5d2;
    --hue: 330deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/muneuji.webp");
}

[character="Ushio"] {
    --color: #96f032;
    --hue: 88.4210526316deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/ushio.webp");
}

[character="Raito"] {
    --color: #00693c;
    --hue: 154.2857142857deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/raito.webp");
}

[character="Kinari"] {
    --color: #ebc8ff;
    --hue: 278.1818181818deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kinari.webp");
}

[character="Chihiro"] {
    --color: #46eb9b;
    --hue: 150.9090909091deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/chihiro.webp");
}

[character="Tao"] {
    --color: #468cbe;
    --hue: 205deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/tao.webp");
}

[character="Kuguri"] {
    --color: #d20046;
    --hue: 340deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kuguri.webp");
}

[character="Nagi"] {
    --color: #463ce6;
    --hue: 243.5294117647deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/nagi.webp");
}

[character="Toi"] {
    --color: #ffdc3c;
    --hue: 49.2307692308deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/toi.webp");
}

[character="Ryui"] {
    --color: #ff3c6e;
    --hue: 344.6153846154deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/ryui.webp");
}

[character="Yodaka"] {
    --color: #f0e6aa;
    --hue: 51.4285714286deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/yodaka.webp");
}

[character="Netaro"] {
    --color: #ff32c8;
    --hue: 316.0975609756deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/netaro.webp");
}

[character="Yachiyo"] {
    --color: #8eaff0;
    --hue: 219.7959183673deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/yachiyo.webp");
}

[character="Sakujiro"] {
    --color: #fffc93;
    --hue: 58.3333333333deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/sakujiro.webp");
}

[character="Nayuki"] {
    --color: #ffa7a2;
    --hue: 3.2258064516deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/nayuki.webp");
}

[character="Daniel"] {
    --color: #a27fc5;
    --hue: 270deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/daniel.webp");
}

[character="Kotonojo"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kotonojo.webp");
}

[character="Koharu"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/koharu.webp");
}

[character="Minamo"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/minamo.webp");
}

[character="Hakkei"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/hakkei.webp");
}

[character="Hassaku"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/hassaku.webp");
}

[character="Sojun"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/sojun.webp");
}

[character="Yumenosuke"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/yumenosuke.webp");
}

[character="Kodama"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/kodama.webp");
}

[character="Yunyun"] {
    --color: #c5d8c1;
    --hue: 109.5652173913deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/yunyun.webp");
}

[character="Shumai"] {
    --color: #65c267;
    --hue: 121.2903225806deg;
    --icon: url("https://cdn.jsdelivr.net/gh/kagukura/img/icons/shumai.webp");
}

[character="Andy"] {
    --color: #3d918c;
    --hue: 176.25deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/ANDY.png")
}

/** 18TRIP MAHOROVA ICONS **/

[character="Kinari"][maho] {
    --color: #ebc8ff;
    --hue: 278.1818181818deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/mahorova/kina1.PNG");
}
[character="Kuguri"][maho] {
    --color: #d20046;
    --hue: 340deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/mahorova/kugu1.PNG");
}
[character="Nanaki"][maho] {
    --color: #1ebeb4;
    --hue: 176.25deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/mahorova/nana1.PNG");
}
[character="Nagi"][maho] {
    --color: #463ce6;
    --hue: 243.5294117647deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/mahorova/nagi1.PNG");
}
[character="Ushio"][maho] {
    --color: #96f032;
    --hue: 88.4210526316deg;
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/mahorova/ushi1.PNG");
}

/* TWO PEOPLE TALKING */

[character="NU1"] {
    --color: #5bd773;
    --hue: 131.61;
    --name: "Nanaki & Ushio";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/duo/NU.PNG")
}
[character="NU2"] {
    --color: #5bd773;
    --hue: 131.61;
    --name: "Nanaki & Ushio";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/duo/NU3.PNG")
}
[character="RK"] {
    --color: #8f646e;
    --hue: 346;
    --name: "Kuguri & Raito";
    --icon: url("https://cdn.jsdelivr.net/gh/azurecrystalz/css@main/imgs/duo/RK.PNG")
}
